
.card.sh-card-holako {
  border-color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.2) !important;
  text-align: left; }
  .card.sh-card-holako .card-title a {
    display: flex; }
  .card.sh-card-holako .card-title span::before {
    font-size: 35px; }
  .card.sh-card-holako .card-text {
    color: var(--gray-40); }

.card.sh-card-kaka {
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1); }
  .card.sh-card-kaka .card-title {
    font-weight: 600;
    font-size: 18px; }
    .card.sh-card-kaka .card-title a {
      display: flex; }
    .card.sh-card-kaka .card-title span {
      font-size: 40px; }
      .card.sh-card-kaka .card-title span::before {
        font-size: inherit;
        font-weight: 400; }
    .card.sh-card-kaka .card-title img {
      height: 35px;
      margin: 20px auto; }
  .card.sh-card-kaka .card-text {
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6;
    color: inherit; }
  .card.sh-card-kaka .card-btn {
    text-align: right; }

.card.sh-card-mikimouse {
  background-color: var(--light-inverse) !important;
  color: var(--text-light-inverse);
  overflow: hidden;
  border: 0; }
  .card.sh-card-mikimouse .badge {
    top: 10px;
    left: -30px;
    width: 100px;
    transform: rotate(-45deg);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.3); }
  .card.sh-card-mikimouse .card-body {
    padding: .50rem; }
    .card.sh-card-mikimouse .card-body .card-title {
      margin: 0;
      color: inherit; }

.card.sh-card-morino {
  border-radius: 5px;
  text-align: left; }
  .card.sh-card-morino .card-body .card-title {
    text-transform: uppercase;
    font-weight: 700; }
  .card.sh-card-morino .card-body hr {
    margin: 25px 0; }
  .card.sh-card-morino .card-body ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    .card.sh-card-morino .card-body ul li i {
      color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.3); }
  .card.sh-card-morino .card-body p:not(.card-subtitle) {
    text-align: center; }
    .card.sh-card-morino .card-body p:not(.card-subtitle) strong {
      font-weight: 700;
      font-size: 20px; }

.card.sh-card-luka {
  background-color: var(--light-inverse);
  color: var(--text-light-inverse);
  border-radius: 2px;
  border: 0; }
  .card.sh-card-luka .card-body {
    padding: 5px; }
    .card.sh-card-luka .card-body > * {
      margin-bottom: 5px; }
      .card.sh-card-luka .card-body > *:last-child {
        margin-bottom: 0; }
    .card.sh-card-luka .card-body .card-title {
      justify-content: flex-start;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 800;
      color: var(--dark-inverse); }
    .card.sh-card-luka .card-body .card-text {
      font-size: 13px;
      font-weight: 600;
      color: var(--text-light-inverse); }

.carousel.sh-carousel-kroos {
  height: 40vh; }
  @media (min-width: 768px) {
    .carousel.sh-carousel-kroos {
      height: 15vh; } }
  .carousel.sh-carousel-kroos .carousel-inner {
    height: 100%;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%; }
    .carousel.sh-carousel-kroos .carousel-inner .carousel-item {
      height: 100%;
      white-space: nowrap;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden; }
      .carousel.sh-carousel-kroos .carousel-inner .carousel-item.active, .carousel.sh-carousel-kroos .carousel-inner .carousel-item.carousel-item-next, .carousel.sh-carousel-kroos .carousel-inner .carousel-item.carousel-item-prev {
        display: flex;
        position: static; }
      .carousel.sh-carousel-kroos .carousel-inner .carousel-item img {
        width: 25%;
        display: inline-block;
        max-height: 100%;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1); }
      .carousel.sh-carousel-kroos .carousel-inner .carousel-item .carousel-caption {
        width: 70%;
        display: inline-block;
        position: static;
        text-align: left;
        text-shadow: none;
        background-color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.1);
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
        padding: 5px;
        color: inherit; }
        .carousel.sh-carousel-kroos .carousel-inner .carousel-item .carousel-caption h5 {
          font-size: 16px;
          font-weight: bold; }
        .carousel.sh-carousel-kroos .carousel-inner .carousel-item .carousel-caption p, .carousel.sh-carousel-kroos .carousel-inner .carousel-item .carousel-caption h5 {
          margin: 1px;
          white-space: normal; }
  .carousel.sh-carousel-kroos .carousel-indicators {
    display: none; }
  .carousel.sh-carousel-kroos .carousel-control-prev, .carousel.sh-carousel-kroos .carousel-control-next {
    width: 7%; }
  .carousel.sh-carousel-kroos .carousel-control-prev {
    background-image: linear-gradient(to right, var(--darken-10) 0%, transparent 100%); }
  .carousel.sh-carousel-kroos .carousel-control-next {
    background-image: linear-gradient(to left, var(--darken-10) 0%, transparent 100%); }

.carousel.sh-carousel-robert {
  overflow: hidden; }
  .carousel.sh-carousel-robert .carousel-indicators {
    display: none; }
  .carousel.sh-carousel-robert .carousel-inner {
    height: inherit; }
    .carousel.sh-carousel-robert .carousel-inner .carousel-item {
      height: inherit; }
      .carousel.sh-carousel-robert .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%; }
      .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption {
        color: var(--text);
        background-color: var(--trans-60);
        max-height: 100%;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 30px;
        flex-flow: row wrap;
        box-shadow: 0 -5px 15px 0 rgba(51, 51, 51, 0.3);
        text-shadow: none; }
        .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption h5 {
          font-size: 15px;
          margin-bottom: 0;
          font-weight: bold;
          margin-top: 0;
          text-transform: uppercase; }
          .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption h5 span {
            font-weight: bold;
            color: var(--light-inverse); }
        .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption p {
          font-size: 14px;
          margin: 5px;
          width: 60%; }
        .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption a {
          border-color: inherit;
          border: 0;
          text-decoration: none;
          font-weight: bold;
          box-shadow: none;
          padding: 5px 10px;
          font-size: 13px; }
        .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption p, .carousel.sh-carousel-robert .carousel-inner .carousel-item .carousel-caption a {
          color: var(--text); }
  .carousel.sh-carousel-robert .carousel-control-next, .carousel.sh-carousel-robert .carousel-control-prev {
    color: var(--text);
    width: 10%;
    bottom: 9%; }
  .carousel.sh-carousel-robert .carousel-control-prev {
    background: linear-gradient(to right, var(--background) 0%, transparent 100%); }
  .carousel.sh-carousel-robert .carousel-control-next {
    background: linear-gradient(to left, var(--background) 0%, transparent 100%); }

.carousel.sh-carousel-zlatan {
  overflow: hidden; }
  .carousel.sh-carousel-zlatan .carousel-indicators {
    flex-direction: column;
    bottom: 25%;
    left: 35%;
    right: auto;
    top: auto;
    margin-left: 0; }
    .carousel.sh-carousel-zlatan .carousel-indicators li {
      border-radius: 100px;
      text-indent: initial;
      line-height: 30px;
      font-weight: bold;
      height: 30px;
      width: 30px;
      margin: 0 15px;
      background-color: var(--background);
      opacity: .5;
      transform: scale(0.5);
      transition: .3s transform ease-in-out, .3s opacity ease-in-out;
      box-shadow: 1px 0 30px 0 rgba(0, 0, 0, 0.1); }
      .carousel.sh-carousel-zlatan .carousel-indicators li.active {
        background-color: var(--lighten-10);
        transform: scale(1);
        opacity: 1;
        transition: .3s transform ease-in-out, .3s opacity ease-in-out; }
  .carousel.sh-carousel-zlatan .carousel-inner .carousel-item.active {
    display: flex;
    justify-content: flex-end; }
  .carousel.sh-carousel-zlatan .carousel-inner .carousel-item img {
    width: 65%;
    height: 100%;
    opacity: 1;
    transition: .3s opacity ease; }
  .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    width: 35%;
    color: inherit;
    padding-right: 3%;
    padding-left: 3%;
    flex-direction: column; }
    .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption > * {
      text-shadow: none; }
    .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption h5 {
      font-size: 35px;
      margin-bottom: 20px;
      margin-top: 0;
      text-transform: uppercase; }
      .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption h5 span {
        font-weight: bold; }
    .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption p {
      font-size: 15px;
      margin-bottom: 40px; }
    .carousel.sh-carousel-zlatan .carousel-inner .carousel-item .carousel-caption a {
      text-decoration: none;
      font-size: 13px; }
  .carousel.sh-carousel-zlatan .carousel-control-next, .carousel.sh-carousel-zlatan .carousel-control-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    width: 50px;
    height: 50px;
    left: 35%;
    opacity: 1;
    color: var(--text);
    background: linear-gradient(to right, var(--background), var(--trans-60)); }
  .carousel.sh-carousel-zlatan .carousel-control-prev {
    top: 0;
    bottom: auto;
    border-radius: 0 0 20px 0; }
  .carousel.sh-carousel-zlatan .carousel-control-next {
    bottom: 0;
    top: auto;
    border-radius: 0 20px 0 0; }
  @media (max-width: 767px) {
    .carousel.sh-carousel-zlatan .carousel-inner .item .carousel-caption {
      top: auto;
      right: 0;
      width: 100%;
      border-radius: 0;
      padding-bottom: 30px; }
      .carousel.sh-carousel-zlatan .carousel-inner .item .carousel-caption h5 {
        font-size: 30px;
        margin-bottom: 20px; }
      .carousel.sh-carousel-zlatan .carousel-inner .item .carousel-caption p {
        font-size: 14px;
        margin-bottom: 20px; }
      .carousel.sh-carousel-zlatan .carousel-inner .item .carousel-caption a {
        font-size: 13px;
        padding: 5px 20px; }
    .carousel.sh-carousel-zlatan .carousel-indicators {
      display: none; } }

.carousel.sh-carousel-messi {
  height: 100vh;
  overflow: hidden; }
  @media (min-width: 768px) {
    .carousel.sh-carousel-messi {
      height: 50vh; }
      .carousel.sh-carousel-messi .carousel-inner .carousel-item::after {
        content: '';
        position: absolute;
        bottom: -200px;
        left: -150px;
        width: 500px;
        height: 500px;
        border-radius: 100%;
        opacity: .1;
        z-index: 99;
        border: 70px solid var(--dark-inverse); }
      .carousel.sh-carousel-messi .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 35px; } }
  .carousel.sh-carousel-messi .carousel-inner {
    height: 100%; }
    .carousel.sh-carousel-messi .carousel-inner .carousel-item {
      height: inherit; }
      .carousel.sh-carousel-messi .carousel-inner .carousel-item img {
        height: inherit;
        object-fit: cover; }
      .carousel.sh-carousel-messi .carousel-inner .carousel-item .carousel-caption {
        background-color: var(--trans-60);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-shadow: none;
        padding: 10px;
        color: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap; }
        .carousel.sh-carousel-messi .carousel-inner .carousel-item .carousel-caption h5 {
          color: var(--dark-inverse);
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding-bottom: 20px;
          position: relative; }
          .carousel.sh-carousel-messi .carousel-inner .carousel-item .carousel-caption h5::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 70px;
            left: 0;
            right: 0;
            z-index: 999;
            bottom: -20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain; }
        .carousel.sh-carousel-messi .carousel-inner .carousel-item .carousel-caption p {
          width: 50%;
          margin: 0 auto; }
  .carousel.sh-carousel-messi .carousel-indicators {
    left: 10px;
    bottom: 10px;
    width: fit-content;
    margin-left: 0; }
    .carousel.sh-carousel-messi .carousel-indicators li {
      width: 30px;
      height: 5px;
      border-radius: 10px;
      margin-top: 0;
      margin-bottom: 0; }
      .carousel.sh-carousel-messi .carousel-indicators li.active {
        background-color: var(--dark-inverse); }
  .carousel.sh-carousel-messi .carousel-control-next, .carousel.sh-carousel-messi .carousel-control-prev {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    top: auto;
    bottom: 10px;
    background: var(--contrast-20); }
  .carousel.sh-carousel-messi .carousel-control-prev {
    right: 62px;
    left: auto; }
  .carousel.sh-carousel-messi .carousel-control-next {
    right: 10px;
    left: auto; }

.carousel.sh-carousel-iniesta .carousel-indicators {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
  margin-right: auto;
  right: auto;
  bottom: 0; }
  .carousel.sh-carousel-iniesta .carousel-indicators li {
    width: 14%;
    height: fit-content;
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.05);
    opacity: .3;
    border-radius: 5px;
    overflow: hidden; }
    .carousel.sh-carousel-iniesta .carousel-indicators li.active {
      opacity: 1; }
.carousel.sh-carousel-iniesta .carousel-control-prev,
.carousel.sh-carousel-iniesta .carousel-control-next {
  z-index: 999;
  left: auto;
  right: 10px;
  width: 4vw;
  height: 4vw;
  margin: 1rem;
  border: .5vw solid #eee;
  border-radius: 40px;
  transform: rotate(90deg);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); }
.carousel.sh-carousel-iniesta .carousel-control-prev {
  bottom: 50%;
  top: auto; }
.carousel.sh-carousel-iniesta .carousel-control-next {
  bottom: auto;
  top: 50%; }
.carousel.sh-carousel-iniesta .carousel-control-prev-icon, .carousel.sh-carousel-iniesta .carousel-control-next-icon {
  width: 2vw;
  height: 2vw; }
.carousel.sh-carousel-iniesta .carousel-caption {
  background-color: var(--trans-60);
  color: var(--text);
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); }
  .carousel.sh-carousel-iniesta .carousel-caption h5 {
    font-weight: 800; }

.carousel.sh-carousel-roni .carousel-indicators {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 1rem;
  bottom: 0;
  background: var(--trans-60); }
  .carousel.sh-carousel-roni .carousel-indicators li {
    width: 14%;
    height: fit-content;
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.05);
    opacity: .3;
    border-radius: 5px;
    overflow: hidden; }
    .carousel.sh-carousel-roni .carousel-indicators li.active {
      opacity: 1; }
.carousel.sh-carousel-roni .carousel-control-prev,
.carousel.sh-carousel-roni .carousel-control-next {
  z-index: 999;
  top: auto;
  bottom: 5%;
  width: 3vw;
  height: 3vw;
  margin: 1rem;
  border: .15vw solid #eee;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); }
.carousel.sh-carousel-roni .carousel-control-prev {
  left: 10px;
  right: auto; }
.carousel.sh-carousel-roni .carousel-control-next {
  left: auto;
  right: 10px; }
.carousel.sh-carousel-roni .carousel-control-prev-icon, .carousel.sh-carousel-roni .carousel-control-next-icon {
  width: 1.5vw;
  height: 1.5vw; }
.carousel.sh-carousel-roni .carousel-caption {
  background-color: var(--trans-60);
  color: var(--text);
  padding: 1rem;
  border-radius: 10px;
  bottom: 150px;
  text-align: left;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  left: 10px;
  width: 35%;
  height: 50%;
  display: flex !important;
  justify-content: center;
  flex-direction: column; }
  .carousel.sh-carousel-roni .carousel-caption h5 {
    font-weight: 800; }
@media (max-width: 767.98px) {
  .carousel.sh-carousel-roni .carousel-caption {
    display: none !important; } }

.navbar.sh-navbar-cristiano {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  min-height: 40px; }
  .navbar.sh-navbar-cristiano .navbar-toggler, .navbar.sh-navbar-cristiano form {
    margin-left: auto;
    margin-right: 0; }
  .navbar.sh-navbar-cristiano .navbar-brand {
    background-color: var(--background);
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    position: absolute;
    height: 70px;
    padding: 20px 25px;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 5;
    width: 160px;
    border-radius: 0 0 20px 20px;
    transition: .5s height ease, .5s padding ease, .5s box-shadow; }
    .navbar.sh-navbar-cristiano .navbar-brand img {
      height: 30px;
      margin-right: 5px;
      display: inline-block; }
    .navbar.sh-navbar-cristiano .navbar-brand span {
      color: var(--text);
      font-size: 13px;
      vertical-align: middle;
      font-weight: 600;
      line-height: 1.3;
      line-break: auto;
      width: 30px;
      display: inline-block; }
  .navbar.sh-navbar-cristiano .navbar-collapse {
    max-height: 99vh; }
    .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav:first-child {
      margin-left: 145px; }
    .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li a {
      color: var(--text);
      padding-left: 25px;
      padding-right: 25px;
      text-transform: uppercase;
      font-weight: 600; }
    .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
      background-color: var(--background); }
      .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a {
        background-color: var(--background);
        transition: .2s background-color ease, .2s color ease; }
      .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:hover a, .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:active a, .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:focus a, .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li.active a, .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li.open a {
        color: var(--text);
        background-color: var(--background);
        transition: .2s background-color ease, .2s color ease; }
  .navbar.sh-navbar-cristiano form {
    justify-content: center; }
    .navbar.sh-navbar-cristiano form button {
      background-color: transparent; }
      .navbar.sh-navbar-cristiano form button svg {
        fill: var(--text); }
    .navbar.sh-navbar-cristiano form input {
      width: 200px; }
  @media (min-width: 992px) {
    .navbar.sh-navbar-cristiano form input {
      width: 0;
      padding: 0;
      transition: .3s width ease-out; }
    .navbar.sh-navbar-cristiano form:hover input, .navbar.sh-navbar-cristiano form:active input, .navbar.sh-navbar-cristiano form:focus input, .navbar.sh-navbar-cristiano form input:focus, .navbar.sh-navbar-cristiano form input:hover {
      width: 200px;
      padding: .5rem;
      transition: .3s width ease-out; } }
  @media (max-width: 991px) {
    .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav {
      text-align: center; }
      .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav li {
        text-align: center; }
      .navbar.sh-navbar-cristiano .navbar-collapse .navbar-nav:first-child {
        margin-left: auto; } }

.navbar.sh-navbar-ozil {
  background-color: var(--contrast-10);
  box-shadow: 0 4px 2px -2px var(--trans-60);
  z-index: 99999; }
  .navbar.sh-navbar-ozil .navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text); }
    .navbar.sh-navbar-ozil .navbar-brand img {
      width: 55px;
      margin-right: .25rem; }
    .navbar.sh-navbar-ozil .navbar-brand span {
      vertical-align: middle; }
    .navbar.sh-navbar-ozil .navbar-brand:hover {
      color: var(--contrast-10); }
  .navbar.sh-navbar-ozil .navbar-nav > li.nav-item {
    text-align: center; }
    .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link,
    .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus {
      font-size: .9rem;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--gray-40); }
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:hover,
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: var(--text); }
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link.active,
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus.active {
        color: var(--text) !important;
        background-color: transparent; }
        .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link.active:hover,
        .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
          background-color: transparent; }
  .navbar.sh-navbar-ozil .dropdown .dropdown-menu {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0; }
    .navbar.sh-navbar-ozil .dropdown .dropdown-menu .dropdown-item {
      border-bottom: 1px solid var(--contrast-10); }
      .navbar.sh-navbar-ozil .dropdown .dropdown-menu .dropdown-item:last-child {
        border-bottom: 0; }
  .navbar.sh-navbar-ozil form {
    justify-content: center; }
    .navbar.sh-navbar-ozil form button {
      background-color: transparent; }
      .navbar.sh-navbar-ozil form button svg {
        fill: var(--text); }
    .navbar.sh-navbar-ozil form input {
      width: 200px; }
  @media (min-width: 992px) {
    .navbar.sh-navbar-ozil {
      background-color: var(--trans-60);
      justify-content: space-around; }
      .navbar.sh-navbar-ozil .navbar-brand {
        color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.5); }
        .navbar.sh-navbar-ozil .navbar-brand:focus, .navbar.sh-navbar-ozil .navbar-brand:hover {
          color: var(--dark-inverse); }
      .navbar.sh-navbar-ozil .navbar-collapse {
        flex-grow: 0; }
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link,
      .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.5); }
        .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:hover,
        .navbar.sh-navbar-ozil .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: var(--dark-inverse); }
      .navbar.sh-navbar-ozil .dropdown .dropdown-menu .dropdown-item {
        padding-top: 1rem;
        padding-bottom: 1rem; }
      .navbar.sh-navbar-ozil form input {
        width: 0;
        padding: 0;
        transition: .3s width ease-out; }
      .navbar.sh-navbar-ozil form:hover input, .navbar.sh-navbar-ozil form:active input, .navbar.sh-navbar-ozil form:focus input, .navbar.sh-navbar-ozil form input:focus, .navbar.sh-navbar-ozil form input:hover {
        width: 200px;
        padding: .5rem;
        transition: .3s width ease-out; } }

.navbar.sh-navbar-dembele {
  background: var(--background);
  color: var(--text); }
  .navbar.sh-navbar-dembele .navbar-brand img {
    height: 3rem;
    margin-right: .75rem; }
  .navbar.sh-navbar-dembele .navbar-brand span {
    vertical-align: middle;
    color: var(--text);
    font-weight: 200;
    font-size: 1.5rem; }
    .navbar.sh-navbar-dembele .navbar-brand span::first-letter {
      font-weight: 800; }
  .navbar.sh-navbar-dembele .navbar-collapse {
    justify-content: space-between; }
  .navbar.sh-navbar-dembele .navbar-nav {
    flex: 1;
    justify-content: center; }
    .navbar.sh-navbar-dembele .navbar-nav > .nav-item > .nav-link {
      color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.6);
      font-weight: 200;
      letter-spacing: .05rem;
      padding-left: 1rem;
      padding-right: 1rem;
      transition: .3s border ease; }
      .navbar.sh-navbar-dembele .navbar-nav > .nav-item > .nav-link.active {
        font-weight: 600;
        color: var(--dark-inverse);
        border-bottom: 3px solid var(--dark-inverse); }
    .navbar.sh-navbar-dembele .navbar-nav > .nav-item:hover > .nav-link {
      font-weight: 600;
      color: var(--dark-inverse);
      border-bottom: 3px solid var(--dark-inverse);
      transition: .3s border ease; }
  .navbar.sh-navbar-dembele .dropdown .dropdown-toggle::after {
    display: none; }
  .navbar.sh-navbar-dembele .dropdown .dropdown-menu {
    border-top: 4px solid var(--dark-inverse); }
    .navbar.sh-navbar-dembele .dropdown .dropdown-menu .dropdown-item {
      padding: .5rem 5.5rem;
      transition: .3s border ease; }
      .navbar.sh-navbar-dembele .dropdown .dropdown-menu .dropdown-item:hover {
        border-left: 30px solid var(--dark-inverse);
        transition: .3s border ease; }
  .navbar.sh-navbar-dembele form input, .navbar.sh-navbar-dembele form button {
    background-color: rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.9);
    border: 0; }
  .navbar.sh-navbar-dembele form input {
    height: auto;
    align-self: stretch;
    border-radius: 100px 0 0 100px;
    margin-right: 0 !important;
    width: 200px;
    padding: .5rem 1rem; }
  .navbar.sh-navbar-dembele form button {
    width: 3rem;
    height: 3rem;
    border-radius: 0 100px 100px 0;
    margin: 0 !important; }
    .navbar.sh-navbar-dembele form button svg {
      width: 1.1rem;
      height: 1.1rem; }
  @media (min-width: 992px) {
    .navbar.sh-navbar-dembele form input {
      width: 0;
      padding: 0; }
    .navbar.sh-navbar-dembele form button {
      border-radius: 100px; }
    .navbar.sh-navbar-dembele form:hover input, .navbar.sh-navbar-dembele form:active input, .navbar.sh-navbar-dembele form:focus input, .navbar.sh-navbar-dembele form input:hover, .navbar.sh-navbar-dembele form input:focus {
      width: 200px;
      padding: .5rem 1rem;
      transition: .3s width ease-out; }
      .navbar.sh-navbar-dembele form:hover input + button, .navbar.sh-navbar-dembele form:active input + button, .navbar.sh-navbar-dembele form:focus input + button, .navbar.sh-navbar-dembele form input:hover + button, .navbar.sh-navbar-dembele form input:focus + button {
        border-radius: 0 100px 100px 0; } }

.header-section.sh-header-section-reko {
  background-image: url("https://picsum.photos/1440/900/?image=60");
  background-size: cover;
  background-position: center;
  padding-left: 25%;
  padding-right: 25%;
  position: relative; }
  .header-section.sh-header-section-reko::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--trans-60); }
  .header-section.sh-header-section-reko .page-header {
    text-align: center;
    color: var(--dark-inverse);
    z-index: 1; }
    .header-section.sh-header-section-reko .page-header::after, .header-section.sh-header-section-reko .page-header::before {
      content: '';
      position: absolute;
      top: 50%;
      bottom: auto;
      width: 20%;
      height: 3px;
      background: var(--dark-inverse); }
    .header-section.sh-header-section-reko .page-header::after {
      left: 10px;
      right: auto;
      border-radius: 10px 0 0 10px; }
    .header-section.sh-header-section-reko .page-header::before {
      left: auto;
      right: 10px;
      border-radius: 0 10px 10px 0; }

.media.sh-media-cena {
  padding: 0 5px;
  margin-bottom: 0; }
  .media.sh-media-cena .media-body {
    font-size: 13px; }
    .media.sh-media-cena .media-body h5 {
      font-size: 14px; }
  .media.sh-media-cena img {
    width: 40px; }

.nav.nav-pills li {
  background-color: transparent !important; }
  .nav.nav-pills li.active a {
    background-color: var(--light-inverse);
    color: var(--text-light-inverse); }
    .nav.nav-pills li.active a i {
      color: var(--background); }
  .nav.nav-pills li a {
    background-color: var(--contrast-10); }

.nav.nav-tabs {
  border-bottom-color: var(--gray-40); }
  .nav.nav-tabs .nav-item .nav-link.active {
    background-color: var(--contrast-10);
    color: var(--text);
    border-color: var(--gray-40) var(--gray-40) var(--contrast-10); }
  .nav.nav-tabs .nav-item:hover a {
    background-color: var(--contrast-10); }

.tab-content {
  background-color: var(--contrast-10);
  padding: 15px;
  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid var(--gray-40);
  border-top: 0;
  margin-bottom: 15px; }

.breadcrumb.sh-breadcrumb-jero {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  justify-content: center;
  width: fit-content;
  border-radius: 100px;
  border: 1px solid rgba(60, 60, 60, 0.2);
  margin: 0 0 30px;
  padding: 0; }
  .breadcrumb.sh-breadcrumb-jero li a:hover, .breadcrumb.sh-breadcrumb-jero li a:active, .breadcrumb.sh-breadcrumb-jero li a:focus, .breadcrumb.sh-breadcrumb-jero li.active:hover, .breadcrumb.sh-breadcrumb-jero li.active:active, .breadcrumb.sh-breadcrumb-jero li.active:focus {
    color: var(--text-dark-inverse); }
  .breadcrumb.sh-breadcrumb-jero li.active {
    border-color: var(--dark-inverse);
    background-color: var(--dark-inverse);
    color: var(--text-dark-inverse); }
  .breadcrumb.sh-breadcrumb-jero li {
    display: flex; }
    .breadcrumb.sh-breadcrumb-jero li + li:before {
      content: '';
      padding: 0; }
    .breadcrumb.sh-breadcrumb-jero li a {
      color: var(--contrast-10) !important; }
    .breadcrumb.sh-breadcrumb-jero li a, .breadcrumb.sh-breadcrumb-jero li.active {
      padding: 10px 15px;
      font-size: 12px;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 100px; }
      .breadcrumb.sh-breadcrumb-jero li a:hover, .breadcrumb.sh-breadcrumb-jero li a:active, .breadcrumb.sh-breadcrumb-jero li a:focus, .breadcrumb.sh-breadcrumb-jero li.active:hover, .breadcrumb.sh-breadcrumb-jero li.active:active, .breadcrumb.sh-breadcrumb-jero li.active:focus {
        font-weight: bold; }
    .breadcrumb.sh-breadcrumb-jero li a {
      color: inherit;
      font-weight: bold; }
  .breadcrumb.sh-breadcrumb-jero li.active {
    border-width: 2px;
    border-style: solid;
    font-weight: bold; }
    .breadcrumb.sh-breadcrumb-jero li.active:hover, .breadcrumb.sh-breadcrumb-jero li.active:active, .breadcrumb.sh-breadcrumb-jero li.active:focus {
      font-weight: bold; }

.btn {
  width: fit-content;
  border-width: 0;
  border-radius: 50px;
  transition: .5s background-color ease,.5s color ease; }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(var(--bw-01), var(--bw-01), var(--bw-01), 0.1); }

.pagination {
  background-color: transparent;
  margin-bottom: 1.5rem; }
  .pagination li a {
    background-color: var(--light-inverse);
    color: var(--text-light-inverse) !important;
    border-radius: 3px;
    margin: 0 3px;
    border: 0;
    transition: .3s color ease, .3s background-color ease; }
    .pagination li a span {
      border: 0; }
  .pagination li:hover a {
    background-color: var(--contrast-10);
    color: var(--text) !important; }

.dropdown .dropdown-menu {
  background-color: var(--background); }
  .dropdown .dropdown-menu .dropdown-item {
    color: var(--text); }
    .dropdown .dropdown-menu .dropdown-item:hover {
      background-color: var(--contrast-10); }
