// User variables
$primary: #557;
$secondary: #5294ef;

// $enable-lighten: true;
// $enable-darken: true;
// $enable-contrast: true;
// $enable-trans: true;
// $enable-gray: true;
// $enable-inverse: true;

// Web Injaz framework
@import 'node_modules/wi-framework/index';
@import 'node_modules/wi-framework/bootstrap/components/all';

// User backgrounds
@include create-background('main', #446);
@include create-background('dark', #343a40);
@include create-background('light', #ffffff);
@include create-background('body', #f5f5f5);
@include create-background('nature', #28a745);
@include create-background('sea', #007bff);

// User shapes or themes
@import 'node_modules/wi-theme-famous/shapes';

// Your code ...

.content {
	padding: 50px 0;
}

.content-mini {
	padding: 25px 0;
}